<%- include("partials/_header") %>
<div class="custom-empty-half-space"></div>
<h1 class="text-light text-uppercase text-center">Administraci칩n</h1>
<div class="custom-empty-half-space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 mx-auto">
      <% if (error && error.length > 0) { %>
      <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <div class="card custom-card-shadow">
        <div class="card-body">
          <div class="text-center">
            <img
              src="/img/avatar.webp"
              style="height: auto; width: 150px"
              alt="avatar login"
            />
          </div>
          <div class="custom-empty-quarter-space"></div>
          <h3 class="card-title text-center">Bienvenido!</h3>
          <div class="custom-empty-quarter-space"></div>
          <form action="/adm-login" method="POST">
            <div class="mb-3">
              <label for="username" class="form-label mb-0 pb-0">Usuario</label>
              <input
                name="username"
                type="text"
                class="form-control mt-1 pt-0"
                id="username"
                placeholder="correo@example.com"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label mb-0 pb-0"
                >Contrase침a</label
              >
              <input
                name="password"
                type="password"
                class="form-control mt-1 pt-0"
                id="password"
                placeholder="Contrase침a"
                required
              />
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary btn-custom-shadow w-100 mt-3 text-uppercase fw-semibold mobile-btn-csize"
              >
                Iniciar sesi칩n
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/_footer") %>
