<%- include("partials/_header") %>
<div class="custom-empty-half-space"></div>
<div class="container text-light">
  <div class="row">
    <div class="col-12">
      <h1 class="custom-font-sans custom-fs-65 text-center">EXTRAS</h1>
    </div>
  </div>
  <hr class="coqueton opacity-75" />
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="/img/arriba-izq.png" alt="" />
    </div>
    <div class="col-6 text-end">
      <img src="/img/arriba-der.png" alt="" />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col mb-5">
      <h2 class="belta-custom-font custom-fs-65 text-center text-light">
        ENTRADAS
      </h2>
      <hr class="coqueton opacity-75 mx-auto coqueton-customw" />
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald fw-light">
            Pan de ajo
          </h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$45</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald fw-light">
            Pan queso cabra
          </h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p
            class="fw-lighter text-center m-0 ps-2 custom-font-oswald custom-fsize-extras"
          >
            $45 P/2
          </p>
          <img src="/img/line-nombre.png" alt="" />
          <p
            class="fw-lighter text-center m-0 ps-2 custom-font-oswald custom-fsize-extras"
          >
            $109 P/4
          </p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald fw-light">
            Costra cochinita
          </h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$59</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col mb-5">
      <h2 class="belta-custom-font custom-fs-65 text-center text-light">
        COMPLEMENTOS
      </h2>
      <hr class="coqueton opacity-75 mx-auto coqueton-customw" />
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald">Papa horneada</h2>
        </div>
        <div class="col-6 text-light text-end custom-rpadding">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter m-0 p-0 custom-font-oswald custom-rrpadding">
            Tocino con champis - $59 <br />
            Chorizo argentino - $70 <br />
            Cochinita pibil - $85<br />
            Arachera - $85<br />
            Camarones - $99
          </p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald mt-3">
            Papa horneada especial
          </h2>
          <p class="fw-light custom-font-montserrat custom-fs-10">
            Chorizo argentino, champiñón y camarones.
          </p>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter m-0 p-0 custom-font-oswald text-center">$135</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald mt-3">Choripan</h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter m-0 p-0 custom-font-oswald text-center">$70</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald mt-3">
            Rajas de habanero con tocino
          </h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter m-0 p-0 custom-font-oswald text-center">$19</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col">
      <h2 class="belta-custom-font custom-fs-65 text-center text-light">
        BEBIDAS
      </h2>
      <hr class="coqueton opacity-75 mx-auto coqueton-customw" />
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald">Refresco</h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$25</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald">Cerveza</h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$35</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald">Malteada</h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$65</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald">
            Agua embotellada
          </h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$15</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 d-flex flex-column justify-content-center text-light">
          <h2 class="text-uppercase fs-5 custom-font-oswald">Agua de sabor</h2>
        </div>
        <div class="col-2 text-light">
          <img src="/img/line-nombre.png" alt="" />
          <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$25</p>
          <img src="/img/line-nombre.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="/img/abajo-izq.png" alt="" />
    </div>
    <div class="col-6 text-end">
      <img src="/img/abajo-der.png" alt="" />
    </div>
  </div>
</div>

<!-- Corona promo & Facebook -->
<div class="custom-empty-half-space"></div>
<div class="container">
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 text-start">
      <img
        class="mobile-csize-image"
        src="/img/coronapromos-4-dias.png"
        alt=""
      />
    </div>
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 text-end">
      <div
        class="fb-page"
        data-href="https://www.facebook.com/chiwawaspizza"
        data-tabs="timeline"
        data-width="500"
        data-height=""
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
      >
        <blockquote
          cite="https://www.facebook.com/chiwawaspizza"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/chiwawaspizza">Chiwawas</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
