<%- include("partials/_header") %>
<!-- Header Carousel -->
<div class="container-fluid custom-header-section">
  <div class="row m-auto custom-header-wrapper d-flex">
    <div
      class="col-md-6 col-xl-6 col-xxl-6 col-sm-12 my-auto text-light text-center d-flex flex-column justify-content-center custom-header-left"
    >
      <p class="fs-5 belta-custom-font mobile-custom-fsize-subdecs">
        inventores de la
      </p>
      <h1 class="fs-1 belta-custom-font mobile-custom-fsize-title">
        [pizza rellena]
      </h1>
      <p class="fs-3 belta-custom-font mobile-custom-fsize-subtitle">
        única en su escurrimiento despiadado de queso
      </p>
      <p class="fs-4 belta-custom-font mobile-custom-fsize-subtitle">
        Observa, la radiografia de la pizza rellena
      </p>
    </div>
    <div
      class="col-md-6 col-xl-6 col-xxl-6 col-sm-12 m-auto custom-header-right"
    >
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner carousel-fade">
          <div class="carousel-item active">
            <img
              src="/img/pizza_bg_carrousel.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/callejas-charola.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/pitbull-boxer-charola.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/vegetariana-charola.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="custom-empty-space"></div>
<!-- Middle Carousel -->
<div class="container text-light">
  <div class="row">
    <div class="col-xxl-8 col-xl-8 col-md-8 col-sm-12 mobile-calignment">
      <p class="ubuntu-custom-font">¡Esto es lo que nos hace únicos!</p>
      <h2 class="belta-custom-font subtitle-custom-fsize">
        nuestra pizza rellena es única en méxico!
      </h2>
      <hr class="border border-light border-2 opacity-100 w-25 mx-auto my-4" />
      <p class="montserrat-custom-font">
        <strong>Chiwawas</strong>
        es un concepto único nacido en 2014, desde el día 1 siempre quisimos
        hacer cosas diferentes, sabores poco comunes, y sobre todo mucho, mucho
        queso... Siempre pensamos que hacer pizzas como nos gustaría que nos las
        hicieran nos harían únicos... Por eso inventamos la Pizza Rellena, con
        mucho queso y un sabor muy especial.
      </p>
    </div>
    <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
      <div
        id="carouselExampleSlidesOnly2"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner carousel-fade second-custom-carousel">
          <div class="carousel-item rounded-1 active">
            <img src="/img/slider-1.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item rounded-1">
            <img src="/img/slider-2.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item rounded-1">
            <img src="/img/slider-3.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item rounded-1">
            <img src="/img/slider-4.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item rounded-1">
            <img src="/img/slider-5.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item rounded-1">
            <img src="/img/slider-6.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item rounded-1">
            <img src="/img/slider-7.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item rounded-1">
            <img src="/img/slider-8.jpg" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleSlidesOnly2"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleSlidesOnly2"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="custom-empty-space"></div>
<!-- Corona promo & Facebook -->
<div class="custom-empty-half-space"></div>
<div class="container">
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 text-start">
      <img
        class="mobile-csize-image"
        src="/img/coronapromos-4-dias.png"
        alt=""
      />
    </div>
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 text-end">
      <div
        class="fb-page"
        data-href="https://www.facebook.com/chiwawaspizza"
        data-tabs="timeline"
        data-width="500"
        data-height=""
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
      >
        <blockquote
          cite="https://www.facebook.com/chiwawaspizza"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/chiwawaspizza">Chiwawas</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class="custom-empty-space mobile-hide"></div>
<script src="/js/membership-check.js"></script>
<script src="/js/easter-egg.js"></script>
<%- include("partials/_footer") %>
