<%- include("partials/_header") %>
<div class="custom-empty-half-space"></div>
<div class="container text-light">
  <div class="row">
    <div class="col-12">
      <h1 class="custom-font-sans custom-fs-65 text-center">
        PIZZAS
        <br />
        TRADICIONALES
      </h1>
    </div>
    <div class="col-12">
      <p
        class="fw-light text-center pt-1 custom-font-montserrat custom-wspacing custom-fsize-especialidad"
      >
        (por si prefieres que no tengan tanto queso)
      </p>
    </div>
  </div>
  <hr class="coqueton opacity-75" />
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="/img/arriba-izq.png" alt="" />
    </div>
    <div class="col-6 text-end">
      <img src="/img/arriba-der.png" alt="" />
    </div>
  </div>
</div>

<div class="container text-light w-50">
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">1 Ingrediente</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        peperoni - tocino - champiñones
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$67</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$135</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$190</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos opacity-75" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">
        Hawaina, Vegetariana o Mexicana
      </h2>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$75</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$149</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$215</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos opacity-75" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Cocker</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        salchicha, peperoni, aceituna, morrón y champiñón.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$90</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$169</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$255</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos opacity-75" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Akita</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        chorizo, tocino, aceituna, morrón.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$90</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$169</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$255</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos opacity-75" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Doberman</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        cochinita pibil.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$95</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$200</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$285</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos opacity-75" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Pitbull</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        tocino BBQ, peperoni, chorizo argentino y champiñón.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$95</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$200</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-45">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$285</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos opacity-75" />
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="/img/abajo-izq.png" alt="" />
    </div>
    <div class="col-6 text-end">
      <img src="/img/abajo-der.png" alt="" />
    </div>
  </div>
</div>
<div class="custom-empty-space"></div>

<!-- Corona promo & Facebook -->
<div class="custom-empty-half-space"></div>
<div class="container">
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 text-start">
      <img
        class="mobile-csize-image"
        src="/img/coronapromos-4-dias.png"
        alt=""
      />
    </div>
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 text-end">
      <div
        class="fb-page"
        data-href="https://www.facebook.com/chiwawaspizza"
        data-tabs="timeline"
        data-width="500"
        data-height=""
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
      >
        <blockquote
          cite="https://www.facebook.com/chiwawaspizza"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/chiwawaspizza">Chiwawas</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
