<%- include("partials/_header") %>
<div class="custom-empty-half-space"></div>
<div class="container text-light">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12">
      <h1 class="custom-font-sans custom-fs-65 text-center mobile-title-csize">
        PIZZAS CON MUCHO
        <br />
        QUESOOOOOOOOOO
      </h1>
    </div>
    <div class="col-12">
      <p
        class="fw-light text-center pt-1 custom-font-montserrat custom-wspacing custom-fsize-especialidad mobile-subt-fsize"
      >
        La especialidad de la casa, rellena de espinaca, champiñon y... queso!
      </p>
    </div>
  </div>
  <hr class="coqueton opacity-75" />
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="/img/arriba-izq.png" alt="" />
    </div>
    <div class="col-6 text-end">
      <img src="/img/arriba-der.png" alt="" />
    </div>
  </div>
</div>

<div class="container text-light custom-resp-width">
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">1 Ingrediente</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        peperoni - tocino - mantequilla de ajo
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$99</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$199</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$364</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">
        Hawaina, Vegetariana o Mexicana
      </h2>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$115</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$235</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$399</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Cocker</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        chorizo argentino, peperoni, aceituna, morrón y champiñón.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$124</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$249</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$405</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Golden</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        Mantequilla de ajo, queso parmesano y hierbas finas.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$124</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$249</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$405</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Dálmata</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        Peperoni, mermelada ácida y queso de cabra cenizo.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$124</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$249</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$405</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Pomeranian</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        Manzana verde, jamaica fresca, mermelada de canela y queso de cabra
        cenizo.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$129</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$259</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$410</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Xolo</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        Carne chilli estilo nachos con queso cheddar.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$129</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$259</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$410</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Doberman</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        cochinita pibil.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$130</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$269</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$434</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Beagle</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        arrachera con chorizo argentino.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$130</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$269</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$434</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Dogo</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        chorizo argentino, chistorra, champiñon y chimichurri.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$130</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$269</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$434</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">French Poodle</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        mermelada de tocino, Queso de cabra y jalapeños con philadelphia.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$130</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$269</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$434</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Pitbull</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        tocino BBQ, peperoni, chorizo argentino y champiñón.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$130</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$269</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$434</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Callejas</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        camarones a la diabla con 3 quesos al ajillo.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$135</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$279</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$459</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Pug</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        Champiñón, tocino, arrachera y chistorra.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$139</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$285</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$470</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Bulldog</h2>
      <p class="fw-light custom-font-montserrat custom-fs-10">
        camarón, chorizo argentino, arrachera.
      </p>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$139</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">ch</p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$285</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$470</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          fam
        </p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="w-75 mx-auto my-5 entre-platillos" />
  <div class="row">
    <div class="col-1"></div>
    <div
      class="col-6 mobile-padding-0 mobile-text-center mobile-full-width d-flex flex-column justify-content-center"
    >
      <h2 class="text-uppercase fs-5 custom-font-oswald">Pizza del mes</h2>
    </div>
    <div class="d-flex justify-content-center text-center custom-resp-width-50">
      <div class="col-1 custom-resp-width-25">
        <img src="/img/line-nombre.png" alt="" />
        <p class="fw-lighter text-center m-0 p-0 custom-font-oswald">$259</p>
        <img src="/img/line-nombre.png" alt="" />
        <p class="text-uppercase text-center fs-4 ps-2 belta-custom-font">
          gde
        </p>
      </div>
      <div class="col-1 mobile-hide"></div>
      <div class="col-1 mobile-hide"></div>
      <div class="col-2 mobile-hide"></div>
    </div>
    <hr class="w-75 mx-auto my-3 entre-platillos" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="/img/abajo-izq.png" alt="" />
    </div>
    <div class="col-6 text-end">
      <img src="/img/abajo-der.png" alt="" />
    </div>
  </div>
</div>
<div class="custom-empty-space"></div>

<!-- Corona promo & Facebook -->
<div class="custom-empty-half-space"></div>
<div class="container">
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 text-start">
      <img
        class="mobile-csize-image"
        src="/img/coronapromos-4-dias.png"
        alt=""
      />
    </div>
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 text-end">
      <div
        class="fb-page"
        data-href="https://www.facebook.com/chiwawaspizza"
        data-tabs="timeline"
        data-width="500"
        data-height=""
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
      >
        <blockquote
          cite="https://www.facebook.com/chiwawaspizza"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/chiwawaspizza">Chiwawas</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
